#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main>form {
    border: solid 1px black;
    padding: 3rem 2rem;
    font-size: 22px;
    background-color: #abaae1;
    width: 40rem;
    min-height: 80rem;
}